<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean class="com.wy.concurrent.listener.spring.MailSendListener"/>
    <bean class="com.wy.concurrent.listener.spring.MailSendListener1"/>
    <bean id="mailSender" class="com.wy.concurrent.listener.spring.MailSend"/>
    <bean id="mailSender2" class="com.wy.concurrent.listener.spring.MailSend2"/>
</beans>